img{
    display: none;
}
h1 {
    color: rgb(31, 77, 162);
}

button {

    color: violet;
    background-color: rgb(61, 17, 61);
}
h3 {
    background-image: url("057C.jpg");
}
body {
    background-color: lavender;
}
