#wall{
position: absolute;
background-color: rgb(39, 23, 59);
width: 100%;
height: 70%;
top: 0px;
left:0px;
background-image: url(image/shelfs.jpg);
background-size: 120%
}

div {

}

#chair {
z-index: 1000;
    width: 100px;
    height: 300px;
    position: relative

}

body {
    background-color: gray;
}


#floor {
position: absolute;
background-color: rgb(32, 25, 31);
bottom: 0px;
left:0px;
width: 100%;
height: 30%;
background-image: url(image/MYWOOD.png);
}
